#!/bin/bash
# shellcheck shell=bash disable=SC2086
set -e

echo "Downloading internal CA certificate..."
curl -fsSL -o ~/Downloads/internal-chain.pem ${PORTAL_SCHEME}://${PORTAL_DOMAIN}/certs/chain.pem

echo "Installing certificate into system keychain..."
sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain ~/Downloads/internal-chain.pem

echo "Internal CA installed successfully."

echo "Cleaning up downloaded certificate..."
rm -f ~/Downloads/internal-chain.pem || true
