
$certUrl = "${PORTAL_SCHEME}://${PORTAL_DOMAIN}/certs/chain.pem"
$certPath = "$env:TEMP\internal-ca.cer"
Invoke-WebRequest -Uri $certUrl -OutFile $certPath

Write-Output "Installing certificate into LocalMachine Root store..."
Import-Certificate -FilePath $certPath -CertStoreLocation Cert:\LocalMachine\Root

Write-Output "Internal CA installed successfully."

Write-Output "Cleaning up temporary certificate file..."
if (Test-Path $certPath) {
    Remove-Item $certPath -Force
}
