#!/bin/bash
# shellcheck shell=bash disable=SC2086
set -e

echo "Downloading internal CA certificate..."
curl -fsSL -o /tmp/chain.pem ${PORTAL_SCHEME}://${PORTAL_DOMAIN}/certs/chain.pem

echo "Installing certificate..."
sudo cp /tmp/chain.pem /usr/local/share/ca-certificates/internal-chain.crt
sudo update-ca-certificates

echo "Internal CA installed successfully."

echo "Cleaning up downloaded certificate..."
rm -f /tmp/chain.pem || true
