#!/bin/bash
# shellcheck shell=bash disable=SC2086
set -e

echo "Downloading internal CA certificate..."
curl -fsSL -o /tmp/ca-root.pem https://${PORTAL_DOMAIN}/certs/ca-root.pem

echo "Installing certificate..."
sudo cp /tmp/ca-root.pem /usr/local/share/ca-certificates/internal-ca.crt
sudo update-ca-certificates

echo "Internal CA installed successfully."

echo "Cleaning up downloaded certificate..."
rm -f /tmp/ca-root.pem || true
